*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.container{
    max-width: 1800px;
    margin: auto;
}
.title-page{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: #262626;
}
